{% extends 'base.html' %}
{% block content %}
<div class="container">

<h2 class="section-title">💼 Professional Experience</h2>

<div class="card">
<h3>Software Developer — ERP7Soft</h3>
<p>Developed large-scale HRMS platform, payroll modules, leave & attendance system, and admin dashboards.</p>
<p>Also contributed to e-commerce features, database design and API Development.</p>
</div>

<div class="card">
<h3>Freelance Full-Stack Developer</h3>
<p>Built multiple real-world systems including LMS, task manager, fee management, student ERP, weather app, and analytics dashboards.</p>
</div>

</div>
{% endblock %}
