{% extends 'base.html' %}
{% block content %}
<div class="container">

<h2 class="section-title">🚀 Live Projects</h2>

<div class="card">
<ul style="font-size:18px; line-height:2;">
<li><a href="https://hr-management-system-nmzq.onrender.com/" target="_blank">HRMS Management System</a></li>
<li><a href="https://todo-list-project-by-projwal.onrender.com/" target="_blank">Task Management / To-Do App</a></li>
<li><a href="https://upsc-quiz-1.onrender.com/" target="_blank">Quiz/UPSC Test Portal</a></li>
<li><a href="https://jobportal-z6fp.onrender.com/" target="_blank">Job Portal Application</a></li>
<li><a href="https://tokyoanalyticx.org/" target="_blank">Tokyo Analytics E-Commerce Platform</a></li>
</ul>
</div>

<h2 class="section-title">🛠️ Projects To Be Added Soon</h2>

<div class="card">
<ul style="font-size:18px; line-height:2;">
<li>Student Management System</li>
<li>Online Fee Management System</li>
<li>Attendance Tracking System</li>
<li>Weather App + API</li>
</ul>
</div>

</div>
{% endblock %}