{% extends 'base.html' %}
{% block content %}
<div class="container">

<h2 class="section-title">💡 Technical Skills</h2>

<div class="card">
<b>Frontend:</b> HTML, CSS, JavaScript, React, Bootstrap, Tailwind<br><br>
<b>Backend:</b> Python, Django, REST Framework<br><br>
<b>Database:</b> MySQL, PostgreSQL, SQLite<br><br>
<b>Tools:</b> Git, GitHub, VS Code, Postman, Render Cloud<br><br>
<b>Other:</b> Web Scraping, Automation, Authentication, APIs<br><br>
<b>Soft Skills:</b> Problem Solving, Communication, Teamwork, Time Management
</div>

</div>
{% endblock %}
